/* src/styles/_variables.scss */

// 定义主题变量
$light-background: #ffffff;
$light-text: #000000;
$light-enter-background: #f0f0f0;

$dark-background: #090909;
$dark-text: #ffffff;
$dark-enter-background: #2c2c2c;

//其他变量
$student-enter-theme-color:#a78bfa;
$teacher-enter-theme-color:#256cdd;
$admin-enter-theme-color:#f59e0b;
