/* src/styles/dark-theme.scss */
@use './variables' as *;

:root {
    --background-color: #{$dark-background};
    --text-color: #{$dark-text};
    --enter-background: #{$dark-enter-background};
    --border-color: #{$dark-border-color};
    --hover-color: #{$dark-hover-color};
    --active-background-color: #{$dark-active-background-color};
    --box-shadow: #{$dark-box-shadow};
    --active-text-color: #{$dark-active-text-color};
    --score-title-icon-color: #{$dark-score-title-icon-color};
}