/* src/styles/light-theme.scss */

:root {
    --background-color: #{$light-background};
    --text-color: #{$light-text};
    --enter-background: #{$light-enter-background};
    --border-color: #{$light-border-color};
    --hover-color: #{$light-hover-color};
    --active-background-color: #{$light-active-background-color};
    --box-shadow: #{$light-box-shadow};
    --active-text-color: #{$light-active-text-color};
    --score-title-icon-color: #{$light-score-title-icon-color};
    --card-content-border-color: #{$light-card-content-border-color};
}
